In [1]:
import numpy as np 
import pandas as pd 
import csv

In [7]:
metadata = pd.read_csv('/Users/nishitamatlani/downloads/data/SPGC-metadata-2018-07-18.csv')
kld_scores = pd.read_csv('/Users/nishitamatlani/downloads/data/KLDscores.csv')
extra_controls = pd.read_csv('/Users/nishitamatlani/downloads/data/extra_controls.csv')

In [9]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57713 entries, 0 to 57712
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 57713 non-null  object
 1   title              57642 non-null  object
 2   author             55451 non-null  object
 3   authoryearofbirth  42946 non-null  float64
 4   authoryearofdeath  41850 non-null  float64
 5   language           57711 non-null  object
 6   downloads          57711 non-null  float64
 7   subjects           57713 non-null  object
 8   type               57713 non-null  object
dtypes: float64(3), object(6)
memory usage: 4.0+ MB

In [19]:
metadata.head()

,id,title,author,authoryearofbirth,authoryearofdeath,language,downloads,subjects,type
0,PG0,NaN,NaN,0,0,NaN,0,set(),Text
1,PG1,The Declaration of Independence of the United ...,"Jefferson, Thomas",1743,1826,['en'],604,"{'United States -- History -- Revolution, 1775...",Text
2,PG2,The United States Bill of Rights: The Ten Orig...,United States,0,0,['en'],158,"{'Civil rights -- United States -- Sources', '...",Text
3,PG3,John F. Kennedy's Inaugural Address,"Kennedy, John F. (John Fitzgerald)",1917,1963,['en'],28,{'Presidents -- United States -- Inaugural add...,Text
4,PG4,Lincoln's Gettysburg Address: Given November 1...,"Lincoln, Abraham",1809,1865,['en'],55,{'Consecration of cemeteries -- Pennsylvania -...,Text

In [15]:
metadata['authoryearofbirth'] = metadata['authoryearofbirth'].fillna(0).astype(int)
metadata['authoryearofdeath'] = metadata['authoryearofdeath'].fillna(0).astype(int)
metadata['downloads'] = metadata['downloads'].fillna(0).astype(int)

In [17]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57713 entries, 0 to 57712
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 57713 non-null  object
 1   title              57642 non-null  object
 2   author             55451 non-null  object
 3   authoryearofbirth  57713 non-null  int64
 4   authoryearofdeath  57713 non-null  int64
 5   language           57711 non-null  object
 6   downloads          57713 non-null  int64
 7   subjects           57713 non-null  object
 8   type               57713 non-null  object
dtypes: int64(3), object(6)
memory usage: 4.0+ MB

In [21]:
kld_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23193 entries, 0 to 23192
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   filename    23193 non-null  object
 1   kld_values  23193 non-null  object
dtypes: object(2)
memory usage: 362.5+ KB

In [23]:
kld_scores.head()

  filename                                         kld_values
0  PG10002  [0.22391005737243896, 0.24226261808703536, 0.2...
1  PG10005  [0.24107767463211327, 0.24747085497572513, 0.2...
2  PG10003  [0.2502283960399736, 0.2304129699198611, 0.238...
3  PG10008  [0.2576982842724978, 0.2424932127358288, 0.220...
4  PG10012  [0.25125974534678364, 0.23622148585532693, 0.2...

In [25]:
extra_controls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18726 entries, 0 to 18725
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    18726 non-null  object
 1   subj2_war             18726 non-null  int64
 2   subj2_adventure       18726 non-null  int64
 3   subj2_comedy          18726 non-null  int64
 4   subj2_biography       18726 non-null  int64
 5   subj2_romance         18726 non-null  int64
 6   subj2_drama           18726 non-null  int64
 7   subj2_fantasy         18726 non-null  int64
 8   subj2_family          18726 non-null  int64
 9   subj2_sciencefiction  18726 non-null  int64
 10  subj2_action          18726 non-null  int64
 11  subj2_thriller        18726 non-null  int64
 12  subj2_western         18726 non-null  int64
 13  subj2_horror          18726 non-null  int64
 14  subj2_mystery         18726 non-null  int64
 15  subj2_crime           18726 non-null  int64
 16  subj2_history         18726 non-null  int64
 17  subj2_periodicals     18726 non-null  int64
 18  subj2_others          18726 non-null  int64
 19  speed                 16038 non-null  float64
 20  sentiment_avg         16038 non-null  float64
 21  sentiment_vol         16038 non-null  float64
 22  wordcount             16038 non-null  float64
dtypes: float64(4), int64(18), object(1)
memory usage: 3.3+ MB

In [ ]:

merged_df_1 = pd.merge(metadata, kld_scores, on='id', how='inner')

# Merge the result with extra_controls on the common key 'id'
final_merged_df = pd.merge(merged_df_1, extra_controls, on='id', how='inner')